@import './mixins';
@import './variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #eee;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.addtodo {
    width: 40%;
    margin: 2rem auto;
    height: auto;
    border-radius: 10px;
    background: #fff;
    padding: 20px;

    &__top {
        @include flex($justify: space-between, $align: center);

        h1 {
            width: 70%;
        }
        &--user {
            width: 15%;
        }
    }

    &__wrapper {
        @include flex($justify: space-between, $align: center);
        margin: 1rem 0;

        input {
            height: 3rem;
            border-radius: 5px 0 0 5px;
            width: 80%;
            background: #eee;
            border: none;
            padding: 5px 20px;

            & :focus {
                outline: none;
                border: none;
            }
        }

        & > .btn {
            height: 3rem;
            border-radius: 0 5px 5px 0;
            width: 20%;
            border: none;

            &:active,
            :focus {
                outline: none;
            }

            &__submit {
                background: $prime-color;
                color: #fff;
                // font-size: 1rem;
            }
        }
    }
}

.todos {
    background: #fff;
    border-radius: 10px;
    width: 40%;
    margin: 1rem auto;
    padding: 20px;
    height: auto;
}

.todo {
    margin: 0.5rem 0;
    border-bottom: 2px solid darken(#eee, 2%);
    padding: 10px 0;

    &__wrapper {
        @include flex($justify: space-between, $align: center);
        &--title {
            width: 80%;
            cursor: pointer;
        }
        &--actions {
            @include flex($justify: space-between);
            width: 10%;

            &-edit {
                color: $prime-color;
            }
            &-delete {
                color: $red;
            }
        }
    }
}

.input {
    height: 3rem;
    border-radius: 5px;
    width: 100%;
    background: #eee;
    border: none;
    padding: 5px 20px;

    & :focus {
        outline: none !important;
        border: none;
    }
}

.complete {
    text-decoration: line-through;
    color: #999;
}

.modal {
    width: auto;
    min-width: 50% !important;
    height: auto;
    min-height: 40vh !important;
    background: #fff;
    border-radius: 10px;
    padding: 20px !important;
    @include flex($align: center, $justify: center);
}

.btn {
    height: 3rem;
    width: 30%;
    border-radius: 5px;
    border: none;
    font-size: 0.95rem;

    &__google {
        background: $prime-color;
        color: #fff;
    }
}
